
.applied-jobs-banner{
    margin-bottom: 70px;
}
.cart-filter {
    width: 1318px;
    text-align: right;
    margin-bottom: 15px;
}
.cart-filter select {
    background: #e9e9f2e6;
    border: none;
    padding: 10px 6px;
    border-radius: 5px;
}
.cart-filter select option {
    height: 100%;
    background: #5757b8;
    color: #fff;
}